<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="percentB" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="percentB + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="percentG" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="percentG + '%'"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador (changePercent)="percentB = $event" label="Azul" [percent]="percentB"></app-incrementador>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador (changePercent)="percentG = $event" label="Verde" [percent]="percentG"></app-incrementador>

            </div>
        </div>
    </div>
</div>